@import url(https://fonts.googleapis.com/css?family=Actor);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/*priadded*/
title-slide {
  background-image: url("fig/title.png");
  background-size: cover;
}



body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
h1, h2, h3 {
  font-family: 'Arial';
  font-weight: 400;
  margin-bottom: 0;
  color: #020de0;
}
h1:before {
  color: #D95F02;
  font-family: "FontAwesome";
  margin-right: 10px;
}
.remark-slide-content h1 { font-size: 2em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 2em; }
.footnote {
  position: absolute;
  bottom: 3em;
  font-style: italic;
  font-size: 70%;
}
li { line-height: 1.85em; }
li p { line-height: 1.25em; }
li {
  list-style-type: none;
}
ul li:before {
  content: "\f0da";
  font-family: "FontAwesome";
  margin-right: 10px;
   color: #f45409;  /* to change the bullet point colour and icon*/
}
ul li li:before {
  content: "\f054";
  font-family: "FontAwesome";
  margin-right: 6px;
  color: #000000;
}
ol li:before {
  margin-right: 10px;
  color: #D95F02;
}
.red { color: #D00000; }
.orange { color: #FFBA08; }
.blue { color: #3F88C5; }
.large { font-size: 2em; }
a, a > code {
  color: #D95F02;
  text-decoration: none;
}
code {
  border-radius: 5px;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro'; font-size: 80%; }
.remark-code-line-highlighted     { background-color: #130530; }
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}

#slideshow .slide .content code {
  font-size: 1em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.inverse {
  background:#04012d;/* change backgorund colour of the first slide*/
  color:  #ffffff;
  text-shadow: 0 0 0px #333;
}

.inverse h1 {
  color: #ffffff;
  font-size: 2.4em; /* font size of main title*/
  line-height: 1.2em;
}
.inverse h2 {
  color: #ffffff;
  font-size: 1.7em;
  line-height: 1.2em;
}
.inverse h3 {
  color: #ffffff;
  font-size: 1.2em;
  line-height: 1.0em;
}
.inverse ul li:before {
  content: "\f080";
  font-family: "FontAwesome";
  margin-right: 10px;
  color: #D95F02;
}

/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}
#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top:  151px;
  right: 140px;
  
}
#slide-how .slides h3 {
  margin-top: 0.2em;
}
#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}
#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
  .left-column h2:last-of-type, .left-column h3:last-child {
    color: #000;
  }
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

/* TO HIDE SLIDE NUMBERS - PRI ADDED*/
.remark-slide-number {
  font-size: 10t;
  margin-bottom: -11.6px;
  margin-right: 10px;
  color: #000000; 
  opacity: 1; /* default: 0.5 */
}

/*remove slide numbers*/
/*itle-slide .remark-slide-number {
  display: none;
}*/

/*div.my-header {
    background-color: #F77A00;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffb76b), color-stop(0%,#ffa73d), color-stop(0%,#ffffff), color-stop(10%,#ffffff), color-stop(25%,#F77A00), color-stop(100%,#F77A00));
    position: fixed;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    text-align: left;
}*/

/*div.my-footer {
    background-color: #272822;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}
div.my-footer span {
    font-size: 10pt;
    color: #F7F8FA;
    position: absolute;
    left: 15px;
    bottom: 2px;*/


.title-slide {
  background-image: url("fig/title1.png");
  /* background-size: cover;*/
background-size: auto;
     /*   background-size: 300px 100px;*/
}

.tiny{font-size: 70%}
.large { font-size: 130% }
.small { font-size: 130% }
.Large{font-size: 190%}

/*Customize font size for all the slides in xaringan*/
.remark-slide-content {
    font-size: 23px;
    /*padding: 1em 4em 1em 4em;*/
}

/* to hide slide numbers*/
.remark-slide-number {
 display: none;
}

.inverse .remark-slide-number {
 display: none;
}

.title-slide .remark-slide-number {
  display: none;
}