body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 12px;
}

 /* To edit the font size of the sides */
.remark-slide-content {
  background-color: #ffffff;
  border-top: 80px solid #0063a7;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.5;
  padding: 1em 2em 1em 2em
}

.remark-slide-content > h1 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: -100px;
  margin-left: -00px;
  color: #ffffff;
}

.remark-slide-content > inverse {
width: 112px;
height: 47px;
border-bottom: 1px solid black;
position: absolute;
}

.remark-code, .remark-inline-code {
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-size: 18px;
}


.inverse {
  background-color: #0063a7;
  text-shadow: none;
}

/* Removes colored bar from top of the slide resulting in a clear slide */
.clear{
  border-top: 0px solid #ffffff;
  padding-top: 10px;
}

.remark-slide-content > h2, h3, h4 {
  padding-top: -15px;
  padding-bottom: 00px;
  color:#0063a7;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 00px;
  margin-bottom: -10px;
}

.remark-slide-content > h2, .pull-left > h2, .pull-right > h2 {
  font-size: 40px;
}

.remark-slide-content > h3, .remark-slide-content > h4,
.pull-left > h3, .pull-left > h4, .pull-right > h3, .pull-right > h4 {
  font-size: 30px;
}

.title-slide {
  border-top: 0px;
  background-image: url("titlepage.png");
  background-size: cover;
}


/*To change the cover page font siz*/
.title-slide > h1  {
  color: #ffffff;
  font-size: 50px;
  text-shadow: none;
  font-weight: bold;
  text-align: left;
  margin-left: 15px;
  padding-top: 100px;
  width: 65%;
}
.title-slide > h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: #ffffff;
  text-shadow: none;
  font-weight: 300;
  font-size: 40px;
  text-align: left;
  margin-left: 15px;
  width: 65%;
}
.title-slide > h3  {
  color: #ffffff;
  text-shadow: none;
  font-weight: 300;
  font-size: 30px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: -30px;
  width: 65%;
}

.remark-slide-number {
  font-size: 13pt;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #272822;
  opacity: 1;
}
.inverse .remark-slide-number {
  font-size: 13pt;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #FAFAFA;
  opacity: 1;
}

/* turns off slide numbers for title page: https://github.com/gnab/remark/issues/298 */
.title-slide .remark-slide-number {
  display: none;
}



ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

ul li:before {
  content: "■"; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: #cc5900; /* Or a color you prefer */
  font-size: 1.2em;
}

li {
  padding-left: 16px;
  margin-top: 12px;
}


blockquote{
  width:80%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #0063a7;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #0063a7;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
    /*Borders - (Optional)*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color: #0063a7;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  margin-top:1em;
}

/* highlight-block */
highlight-block {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 20px;
  border-left: solid 10px #0063a7;
  background-color:  #E7E7E7;
  padding: 1em;
  width:80%;

   /*Font*/
  color: black;

  /*Borders - (Optional)*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


/*R codes*/
pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #cc5900;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 10px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}


/* to highlight some text*/
.highlight {
    color: #cc5900;
}



